# 3_전통문화체험 수 및 위치정보 추출

### 순서
1. 데이터 불러오기
    - csv파일을 데이터프레임 형식으로 불러오기
    
    
2. 각 지역별 전통문화체험 수 추출 및 저장
    - 시도명/ 시군구 컬럼을 그룹으로 전통문화체험 개수 확인
    

3. 각 지역별 전통문화체험 정보(상호명 및 경/위도) 추출 및 저장
    - 각 체험지 별 경/위도 확인

### 필요한 모듈 import

In [47]:
import numpy as np
import pandas as pd

In [48]:
# 시각화
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import warnings
warnings.filterwarnings('ignore')

## 1. 데이터 불러오기

### csv파일 불러오기

In [49]:
df = pd.read_csv('data/3/전통문화체험.csv')
df

,LCLAS_NM,MLSFC_NM,SEQ_NO,ESNTL_ID,CL_NM,CTPRVN_NM,SIGNGU_NM,FCLTY_ADDR,FCLTY_NM,FCLTY_LA,...,FCLTY_TEL_NO,FCLTY_URL,USE_AT,MEMO_CN,ORIGIN_NM,DEL_AT,REGISTER_ID,REGIST_DE,RNEWL_ID,UPDT_DE
0,문화체험시설,화방,1,K00000001,체험,서울,마포구,서울 마포구 홍익로3길 20,호미화방,37.553460,...,02-336-8181,http:/place.map.kakao.com8164173,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
1,문화체험시설,"수예,자수",2,K00000002,체험,서울,서대문구,서울 서대문구 연희로11가길 15,바늘이야기 연희직영점,37.567458,...,070-4610-6195,http:/place.map.kakao.com1146973099,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
2,문화체험시설,화랑,3,K00000003,체험,서울,종로구,서울 종로구 인사동길 35-4,마루아트센터,37.573545,...,02-2223-2533,http:/place.map.kakao.com502438956,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
3,문화체험시설,화랑,4,K00000004,체험,서울,강남구,서울 강남구 영동대로 325,S2A,37.503399,...,02-6252-7777,http:/place.map.kakao.com1876188245,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
4,문화체험시설,화랑,5,K00000005,체험,서울,종로구,서울 종로구 삼청로 50,학고재,37.580466,...,02-720-1524,http:/place.map.kakao.com10944712,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27891,문화체험시설,체험학습장,27892,K00027892,체험,제주특별자치도,서귀포시,제주특별자치도 서귀포시 1100로 882,푸리롱유아숲체험원,33.311500,...,NaN,http:/place.map.kakao.com1556190588,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
27892,문화체험시설,체험학습장,27893,K00027893,체험,NaN,NaN,NaN,준이네농장,33.260254,...,NaN,http:/place.map.kakao.com1687031629,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
27893,문화체험시설,체험학습장,27894,K00027894,체험,제주특별자치도,서귀포시,제주특별자치도 서귀포시 남원읍 태수로608번길 184,농부예술학교,33.341468,...,010-2880-1500,http:/place.map.kakao.com62916936,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
27894,문화체험시설,체험학습장,27895,K00027895,체험,제주특별자치도,서귀포시,제주특별자치도 서귀포시 남원읍 태수로70번길 27,포서네,33.291642,...,NaN,http:/place.map.kakao.com2026953967,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33
27895,문화체험시설,미술학원,27896,K00027896,체험,제주특별자치도,서귀포시,제주특별자치도 서귀포시 표선면 표선동서로193번길 43,아이펀뮤직앤아트,33.323489,...,064-787-8340,http:/place.map.kakao.com1481833217,Y,NaN,한국문화정보원,N,cms_admin,2023-03-13 11:22:33,cms_admin,2023-03-13 11:22:33

- 데이터 확인하기

In [50]:
# 데이터 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27896 entries, 0 to 27895
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LCLAS_NM      27896 non-null  object
 1   MLSFC_NM      27896 non-null  object
 2   SEQ_NO        27896 non-null  int64
 3   ESNTL_ID      27896 non-null  object
 4   CL_NM         27896 non-null  object
 5   CTPRVN_NM     27103 non-null  object
 6   SIGNGU_NM     27103 non-null  object
 7   FCLTY_ADDR    27103 non-null  object
 8   FCLTY_NM      27895 non-null  object
 9   FCLTY_LA      27896 non-null  float64
 10  FCLTY_LO      27896 non-null  float64
 11  FCLTY_TEL_NO  15462 non-null  object
 12  FCLTY_URL     27896 non-null  object
 13  USE_AT        27896 non-null  object
 14  MEMO_CN       0 non-null      float64
 15  ORIGIN_NM     27896 non-null  object
 16  DEL_AT        27896 non-null  object
 17  REGISTER_ID   27896 non-null  object
 18  REGIST_DE     27896 non-null  object
 19  RNEWL_ID      27896 non-null  object
 20  UPDT_DE       27896 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 4.5+ MB

In [51]:
# null값 확인하기
df.isnull().sum()

LCLAS_NM            0
MLSFC_NM            0
SEQ_NO              0
ESNTL_ID            0
CL_NM               0
CTPRVN_NM         793
SIGNGU_NM         793
FCLTY_ADDR        793
FCLTY_NM            1
FCLTY_LA            0
FCLTY_LO            0
FCLTY_TEL_NO    12434
FCLTY_URL           0
USE_AT              0
MEMO_CN         27896
ORIGIN_NM           0
DEL_AT              0
REGISTER_ID         0
REGIST_DE           0
RNEWL_ID            0
UPDT_DE             0
dtype: int64

----------

## 2. 각 지역별 전통문화체험 수 추출 및 저장

- group by를 이용해 개수 확인

In [52]:
# CTPRVN_NM(시도명), SIGNGU_NM(시군구명) 컬럼을 그룹으로 묶어 개수를 확인
df_count = df.groupby(['CTPRVN_NM','SIGNGU_NM']).size().reset_index(name='전통문화체험 수')
df_count

    CTPRVN_NM SIGNGU_NM  전통문화체험 수
0          강원       강릉시       147
1          강원       고성군        14
2          강원       동해시        53
3          강원       삼척시        35
4          강원       속초시        37
..        ...       ...       ...
270        충북       제천시        87
271        충북       증평군        16
272        충북       진천군        24
273        충북       청주시       532
274        충북       충주시       137

[275 rows x 3 columns]

- 컬럼명 변경

In [53]:
df_count.rename(columns={'CTPRVN_NM': '시도명','SIGNGU_NM':'시군구명'}, inplace=True)
df_count

    시도명 시군구명  전통문화체험 수
0    강원  강릉시       147
1    강원  고성군        14
2    강원  동해시        53
3    강원  삼척시        35
4    강원  속초시        37
..   ..  ...       ...
270  충북  제천시        87
271  충북  증평군        16
272  충북  진천군        24
273  충북  청주시       532
274  충북  충주시       137

[275 rows x 3 columns]

In [54]:
# null값 확인
df_count.isnull().sum()

시도명         0
시군구명        0
전통문화체험 수    0
dtype: int64

- csv파일 저장

In [55]:
df_count.to_csv('./data/3/전처리_완료/지역별 전통체험 수.csv', sep=',', na_rep='NaN')

----------

## 3. 각 지역별 전통문화체험 정보(상호명 및 경/위도) 추출 및 저장

- 필요한 컬럼('FCLTY_NM', 'CTPRVN_NM','SIGNGU_NM', 'FCLTY_LO', 'FCLTY_LA') 추출

In [56]:
df_loc = df[['FCLTY_NM', 'CTPRVN_NM','SIGNGU_NM', 'FCLTY_LO', 'FCLTY_LA']]
df_loc

          FCLTY_NM CTPRVN_NM SIGNGU_NM    FCLTY_LO   FCLTY_LA
0             호미화방        서울       마포구  126.921672  37.553460
1      바늘이야기 연희직영점        서울      서대문구  126.929080  37.567458
2           마루아트센터        서울       종로구  126.984840  37.573545
3              S2A        서울       강남구  127.065623  37.503399
4              학고재        서울       종로구  126.980317  37.580466
...            ...       ...       ...         ...        ...
27891    푸리롱유아숲체험원   제주특별자치도      서귀포시  126.458756  33.311500
27892        준이네농장       NaN       NaN  126.413776  33.260254
27893       농부예술학교   제주특별자치도      서귀포시  126.727237  33.341468
27894          포서네   제주특별자치도      서귀포시  126.740534  33.291642
27895     아이펀뮤직앤아트   제주특별자치도      서귀포시  126.827462  33.323489

[27896 rows x 5 columns]

- 인덱스명 변경

In [57]:
df_loc.rename(columns={'FCLTY_NM': '체험지명','CTPRVN_NM': '시도명','SIGNGU_NM':'시군구명','FCLTY_LO':'경도','FCLTY_LA':'위도'}, inplace=True)
df_loc

              체험지명      시도명  시군구명          경도         위도
0             호미화방       서울   마포구  126.921672  37.553460
1      바늘이야기 연희직영점       서울  서대문구  126.929080  37.567458
2           마루아트센터       서울   종로구  126.984840  37.573545
3              S2A       서울   강남구  127.065623  37.503399
4              학고재       서울   종로구  126.980317  37.580466
...            ...      ...   ...         ...        ...
27891    푸리롱유아숲체험원  제주특별자치도  서귀포시  126.458756  33.311500
27892        준이네농장      NaN   NaN  126.413776  33.260254
27893       농부예술학교  제주특별자치도  서귀포시  126.727237  33.341468
27894          포서네  제주특별자치도  서귀포시  126.740534  33.291642
27895     아이펀뮤직앤아트  제주특별자치도  서귀포시  126.827462  33.323489

[27896 rows x 5 columns]

- csv파일로 저장

In [58]:
# csv파일로 저장
df_loc.to_csv('./data/3/전처리_완료/지역별 전통체험 위치정보.csv', sep=',', na_rep='NaN')

----------------